$gold-1: #d99361;
$gold-2: #d993618f;

$gray-1: #a5a2a2;
$gray-2: #3c3c3c;
$gray-3: #202020;
$gray-4: #ffffff;
$gray-5: #d9d9d9;
$gray-6: #B9B7B7;

$preset-colors: pink, magenta, red, volcano, orange, yellow, gold, cyan, lime,
  green, blue, geekblue, purple;
