@use "/src/styles/colors.scss" as colors;

.playlist-content {
  background-color: colors.$gray-3;
  flex-grow: 1;
  height: 82vh;
}

.playlist-name.ant-typography {
  color: colors.$gray-4;
}

.playlist-song {
  padding: 10px 0;
  border-bottom: 1px solid black;
  @media (max-width: 1600px) {
    padding: 3px 0;
  }
  &__play-pause {
    @media (max-width: 1600px) {
      transform: scale(0.8);
    }
  }
  &__title {
    font-size: 1.2em;
    color: colors.$gray-4;
  }

  &__singer {
    color: colors.$gray-1;
    font-size: 1.1em;
  }

  &__button {
    color: colors.$gray-1;
    padding: 0 5px;
    &--filled {
      transform: scale(0.75);
    }
  }
}

.playlist-button-icon {
  width: 40px;
  height: 40px;
}

.playlist-divider.ant-divider {
  background-color: colors.$gray-5;
  width: 6px;
}

.settings-dropdown.ant-dropdown {
  background-color: colors.$gray-3;
}

.settings-dropdown.ant-dropdown > .ant-dropdown-menu {
  background-color: colors.$gray-2;
  margin-top: -20px;
}
.settings-dropdown.ant-dropdown > .ant-dropdown-menu > .ant-dropdown-menu-item {
  color: colors.$gray-5;
}

.add-to-playlist-icon {
  margin-top: 4px;
  width: 18px;
  height: 18px;
}
