@use "/src/styles/colors.scss" as colors;

.header {
  max-height: 5vh;
  background-color: colors.$gray-3;
  color: colors.$gray-1;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__logo {
    max-width: 120px;
    max-height: 30px;
  }
}

.upload-button {
  background-color: transparent;
  border: 0;
  margin: 0 30px;
  cursor: pointer;
  transform: scale(0.8);

  &:hover {
    transform: scale(0.9);
  }
}
