@use "/src/styles/colors.scss" as colors;

.upload-track-modal {
  & .ant-modal-content {
    background-color: colors.$gray-2;
  }
  & .ant-modal-header {
    background-color: colors.$gray-2;
    & .ant-modal-title {
      color: colors.$gray-1;
      font-weight: 400;
    }
  }
}

.drag-text {
  color: colors.$gold-1;
  text-decoration: underline;
}

.upload-track-form {
  &__input {
    border-radius: 0;
    width: 300px;
  }

  &__item > .ant-form-item-row > .ant-form-item-label > label {
    color: colors.$gray-5;
  }

  &__cover.ant-upload-wrapper.ant-upload-picture-card-wrapper
    .ant-upload.ant-upload-select {
    width: 150px;
    height: 150px;
    margin: 0 30px 0 2px;
    background-color: colors.$gray-4;
  }
}

.upload-track-picture {
  width: 210px;
  height: 210px;
}